vpc_name           = "{{ vpc_name }}"
region             = "{{ region }}"
cidr               = "{{ cidr }}"
azs                = {{ azs }}
private_subnets    = {{ private_subnets }}
public_subnets     = {{ public_subnets }}
enable_nat_gateway = {{ enable_nat_gateway }}